nav {
    background: #222122;
    width: 100%;
    text-align: center;
    position: fixed;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  nav ul a:hover {
    background-color: #404040;
    transition: all 1s;
  }
  
  nav ul ul li {
    display: block;
  }
  
  nav li ul {
    display: none;
    position: absolute;
    background: #222122;
  }
  
  nav li:hover ul {
    display: block;
  }