@font-face {
    font-family: 'open_sans';
    src: url('fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/open-sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1 {
  color: rgb(190, 178, 6);
  text-align: center;
 
}
body {
  background: black;
  float: left;
  font-family: 'open_sans',Arial, Helvetica, sans-serif;
  color: rgb(245, 237, 237);
}
boxmodel {
  float: left;
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  color: #009;
  width: auto;
  border: 0px solid rgb(1, 10, 1);
  padding: 50px;
  margin: 40px;
}
footer {
    position: relative;
    bottom: 50px;
    width: 100%;
    height: 0.5rem;            
  }
  header::after {
    content: '';
    display: table;
    clear: both;
  }
  img {
    height: 300px;;
    width: 300px;
    object-fit: cover;
}
.container {
    display: grid;
    grid-template: 100px auto 100px / 30fr 70fr;
    grid-template-areas:    "header header" 
                            "Sidebar Main" 
                            "footer footer";
    border: 3px rgb(75, 24, 11);
    height: 100vh;
    width: 95vw;
    gap: 10px;
}
.box {
background-color: rgb(86, 85, 97);
padding: 10px 20px 10px 20px;
   
}
.box-one {
    grid-area: header;
}
.box-two {
grid-area: Sidebar;
object-fit: cover;
}
.box-three {
grid-area: Main;
}
.box-four {
    grid-area: footer;
}
@media only screen and (max-width: 959px) {
  body {
    background-color: lightgray;
  }
  .container {
    display: grid;
    grid-template: auto auto auto auto/ 30fr 70fr;
    grid-template-areas:    "header   header" 
                            "Sidebar  Sidebar"
                            "Main     Main"  
                            "footer   footer";
    border: 3px rgb(75, 24, 11);
    height: 100vh;
    width: 95vw;
    gap: 10px;}
  }
  @media print {
  
    a href:after {
      content: none;
    }
    img {
      display: none;
    }
    box-two {
      display: none;
    }
    /* GLOBAL RESET */
    body {
margin: 25mm;
padding: 0.25in;  
color: black;
background: none;
line-height: 24pt;
font-size: 16pt;
    }
/* LAYOUT RESET */
section,
footer {
  font-family: serif;
  background: none;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  color: #000;
}
/* SPECIFICS */
h1,h2,h3,h4,h5,h6 {
  color: #000;
  font-size: 24pt;
  line-height: 30pt;
  margin: 0;
}
  }