h1 {
  color: #009;
}
nav ul{
  display: flex;
  text-align: center;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: auto;
}
nav li{
  background: beige;
  width: 150px;
  margin: 0 15px 15px 0;
  padding: 5px;
  text-align: center;
}